[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-gundo"]
	path = bundle/vim-gundo
	url = http://github.com/sjl/gundo.vim.git
